<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://bcshousekeeping.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/76f6f6df-85f7-47b4-9002-1e01b1e03446/resourcegroups/rg-BCS-Housekeeping/providers/Microsoft.Web/sites/BCSHousekeeping</ResourceId>
    <UserName>$BCSHousekeeping</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://bcshousekeeping.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>